<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
    <link rel="stylesheet" href="css/login.css">
    <script src = "js/authLogin.js"></script>
  </head>
  <body>

    <div>
      <div id = "Box1"></div>
      <div id = "Wel"></div>
      <div id = "Box2"></div>
    </div>

    <div>
      <div class = "sub">
        <input type="text" placeholder="User Email" class = "loginName"/>
        <input type="password" placeholder="Password" class = "loginPasswd"/>
      </div>
      <div id = "BTN" onclick="Signin_btn();">Sign in</div>
    </div>
    <div id = "Pbox">
      <p>Don't have an account yet? <b><a href="http://iwin247.info:3000/reg">Sign up</a></b></p>
    </div>
  </body>
</html>
