<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Welcome to Vue</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <!-- v-bind 는 객체 속성 바인딩, v-text 는 그냥 문자열, v-html 은 html 코드 랜더링   v-model 은 양방향 랜더링-->
  <div id = "simple">
    <input v-bind:value = "message"></input>
  </div>

  <script type="text/javascript">
      var model = {
        message : '첫 번째 Vue.js 앱입니다.'
      };
      var simple = new Vue({
        el : '#simple',
        data : model
      })
  </script>
</body>
</html>
