<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SignupPage</title>
  </head>
  <body>
    <div>
      SIGN UP
    </div>

    <div>
      <input type="text" placeholder="User name"/>
    </div>

    <div>
      <input type="password" placeholder="Password"/>
    </div>

    <div>
      <input type="text" placeholder="Nickname"/>
    </div>

    <div>
      <input type="text" placeholder="Phone number"/>
    </div>
    <hr />
    <div>
      <div>Complete</div>
    </div>


  </body>
</html>
