<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SignupPage</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <script src = "js/authReg.js"></script>
  </head>
  <body>
    <div>
      SIGN UP
    </div>

    <div>
      <input type="text" placeholder="User name" class = "regId"/>
    </div>

    <div>
      <input type="password" placeholder="Password" class = "regPasswd"/>
    </div>

    <div>
      <input type="text" placeholder="Nickname" class = "regName"/>
    </div>

    <div>
      <input type="text" placeholder="Phone number" class = "regPN"/>
    </div>
    <hr />
    <div>
      <div onclick = "Signup_btn();">Complete</div>
    </div>


  </body>
</html>
