<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignupPage</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
    <link rel="stylesheet" href="css/reg.css">
    <script src = "js/authReg.js"></script>
  </head>
  <body>

    <div id = "signBox"></div>
    <div class = "IBox">
      <input type="text" placeholder="User name" class = "regId"/>
    </div>

    <div class = "IBox">
      <input type="password" placeholder="Password" class = "regPasswd"/>
    </div>

    <div class = "IBox">
      <input type="text" placeholder="Nickname" class = "regName"/>
    </div>

    <div class = "IBox">
      <input type="text" placeholder="Phone number" class = "regPN"/>
    </div>

    <div class = "IBox">
      <input type="text" placeholder="Email" class = "regEm"/>
    </div>
    <div id = "IBoxx">
      <hr />
    </div>
    <div>
      <div onclick = "Signup_btn();" id = "BTN">Complete</div>
    </div>


  </body>
</html>
